body {
	background-color:rgb(245, 223, 100);
	font-family:rgb(185, 185, 238);
   color:blueviolet
}
h1 {
   color:rgb(149, 50, 168);
   font-size:2em;
   font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3 {
   color:rgb(18, 99, 42);
   font-size: 1.2em;
}
li{color:aquamarine
   font-size: 0.8em;
}
a {
  font-weight: 200;
  text-decoration: underline;
}
	